<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact <a href="http://railstutorial.org/contact">Ruby on Rails Tutorial</a>
  about <a href="http://railstutorial.org/">the sample application</a>.
</p>